@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Merriweather:wght@700&display=swap");
:root {
  --color-neutral-0: #ffffff;
  --color-neutral-1: #EAEAEA;
  --color-neutral-2: #F8F8F8;
  --color-neutral-3: #c9c7c8;
  --color-neutral-4: #aeadad;
  --color-neutral-5: #959393;
  --color-neutral-6: #7c797a;
  --color-neutral-7: #6A6A6A;
  --color-neutral-8: #4d4a4b;
  --color-neutral-9: #383435;
  --color-neutral-10: #242424;
  --color-neutral-10-transparent: rgba(0,0,0,0.2);

  --color-section-link1: #7A00DA;
  --color-section-link2: #00CDDA;
  --color-section-link3: #0098DA;
  --color-section-link4: #DA0069;

  --color-section-link3-hover: #42b8ec;
  --btn-background-color: #FF9900;
  --main-color: #FF9900;
  --btn-secondary-color: #FF9900;
  --btn-secondary-background-color: rgba(255, 255, 255, 0.14);
  --btn-background-hover: #ED8E00;

  --font-size-h1: 64px;
  --font-size-h2: 48px;
  --font-size-h3: 42px;
  --font-size-s: 12px;
  --font-size-base: 19px;
  --font-size-m: 32px;

}

body{
  background-color: var(--color-neutral-0);
  color: var(--color-neutral-7);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
}

/* buttons */
.ct-btn {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 19px;
  background-color: var(--btn-background-color);
  color: var(--color-neutral-0);
  cursor: pointer;
}

.phone .ct-btn {
  width: 100%;
}
.phone .ct-btn .display-flex{
  margin: auto;
}
.ct-btn.primary {
  color: var(--color-neutral-0);
  fill: var(--color-neutral-0);
}
.ct-btn.primary:not(.blue) {
  background-color: var(--btn-background-color);
}
.ct-btn.primary.blue {
  background-color: var(--color-section-link3);
  fill: var(--color-neutral-0);
}
.ct-btn.primary:not(.blue):hover{
  background-color: var(--btn-background-hover);
}
.ct-btn.primary.blue:hover{
  background-color: var(--color-section-link3-hover);
}
.ct-btn.secondary{
  background-color: var(--btn-secondary-background-color);

  backdrop-filter: blur(8px);
  padding-left: 16px;
}
.ct-btn.secondary:not(.blue) {
  border: solid 2px var(--btn-background-color);
  color: var(--btn-secondary-color);
  fill:var(--btn-secondary-color);
}
.ct-btn.secondary.blue {
  border: solid 2px var(--color-section-link3);
  color: var(--color-section-link3);
  fill: var(--color-section-link3);
}
.ct-btn.secondary:hover {

}
.ct-btn.secondary:not(.blue) svg path{
  fill: var(--btn-secondary-color);
}
.ct-btn.secondary.blue svg path{
  fill: var(--color-section-link3);
}

.ct-btn-icon {
  height: 19px;
  align-items: center;
}

/* links */
.desktop .ct-link {
  font-size: var(--font-size-base);
}
.phone .ct-link {
  font-size: var(--font-size-s);
}
.ct-link {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;

  line-height: var(--font-size-base);
  white-space: nowrap;
}

.ct_link_menu_section::-webkit-scrollbar{
  width: 0;
}
.desktop .ct_link_menu_section {
  padding: var(--space-sl);
  overflow-x: auto;
  position: sticky;
  top: 0;
  background: white;
  opacity: 0.9;
  z-index: 101;
  scrollbar-width: none;
}
.phone .ct_link_menu_section {
  padding: var(--space-xs);
  overflow-x: auto;
  position: sticky;
  top: 0;
  background: white;
  opacity: 0.9;
  z-index: 101;
  scrollbar-width: none;
}
.ct-link {
  min-width: 232px;
  cursor: pointer;
}
.ct-link .ct-link-icon {
  display: flex;
  align-items: center;
}
.ct-link .ct-link-icon.left:not(:empty){
  margin-right: 6px;
}
.ct-link .ct-link-icon.right:not(:empty){
  margin-left: 6px;
}
.link1 .ct-link {
  color: var(--color-section-link1);
  fill: var(--color-section-link1);
}
.link2 .ct-link {
  color: var(--color-section-link2);
  fill: var(--color-section-link2);
}
.link3 .ct-link {
  color: var(--color-section-link3);
  fill: var(--color-section-link3);
}
.link4 .ct-link {
  color: var(--color-section-link4);
  fill: var(--color-section-link4);
}

/*noinspection CssInvalidPropertyValue*/
.ct-link-icon svg,
.ct-link-icon svg path {
  fill: inherit;
}
/* Section */
.ct-section-title .ct-title{
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-m);
  line-height: var(--font-size-m);
}

.phone .phone-flex-revert-columns {
  flex-direction: column-reverse;
}

.phone .ct-section-content:not(:first-child){
  margin-top: var(--space-xl);
}

.link1 .ct-section-title .ct-title {
  color: var(--color-section-link1);
}
.link2 .ct-section-title .ct-title {
  color: var(--color-section-link2);
}

.link3 .ct-section-title .ct-title {
  color: var(--color-section-link3);
}
.link4 .ct-section-title .ct-title {
  color: var(--color-section-link4);
}


.ct-section-title .ct-desc {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: var(--font-size-s);
  line-height:  var(--font-size-s);
  letter-spacing: 0.19em;
  text-transform: uppercase;
}

.ct-section-title .ct-title{

}

.ct-section-text {
  font-weight: 500;
  font-size: var(--font-size-base);
  line-height: 23px;
  padding-right: var(--space-m);
  padding-left: var(--space-m);
}

 /* Section image */
.desktop .ct-layout-left-col,
.desktop .ct-layout-right-col {
  flex: 10;
}
.desktop .ct-layout-middle-col {
  flex: 33;
}

.phone .ct-layout-middle-col{

}
.desktop.small .section-image-col {
  display: none;
}
.ct-section-image-wrapper{
  transition: all, 0.3s;
  transform: scale(1.0);
}
.phone .ct-section-image-wrapper {
  height: 450px;
  width: 100vw;
  opacity: 1;
  transform: scale(1.0);
}
.small .ct-section-image-wrapper {
  transform: scale(0.0);
  opacity: 0;
}
.desktop .ct-section-image-wrapper {
  height: 450px;
  width: 450px;
  margin: auto;
  opacity: 1;
  transform: scale(1.0);
}
.ct-section-image-wrapper{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.desktop .ct-section-image {
  background-size: contain;
}
.phone .ct-section-image {
  background-size: cover;
}
.ct-section-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  ackground-position: center;
  transition: all, 1s;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
.desktop .ct-section-image {
  border-radius: 360px;
}
.ct-image-section-1 {
  background-image: url("./assets/images/section1_72_72.png");
}
.ct-image-section-2 {
  background-image: url("./assets/images/section2_72_72.png");
}
.ct-image-section-3 {
  background-image: url("./assets/images/section3_72_72.png");
}
.ct-image-section-4 {
  background-image: url("./assets/images/section_4_72_72.png");
}
.phone .ct-section-image-icon.right-bottom,
.phone .ct-section-image-icon.left-bottom {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
}
.desktop .ct-section-image-icon.right-bottom {
  grid-column-start: 3;
  grid-row-start: 3;
}

.desktop .ct-section-image-icon.left-bottom {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
}
.ct-section-image-icon {
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
}
.ct-section-image-icon-placeholder {
  border: solid 4px var(--color-neutral-0);
  backdrop-filter: blur(8px);
  width: 108px;
  height: 108px;
  display: flex;
  align-items: center;
}
.phone .ct-section-image-icon-placeholder {
  border-radius: 360px 0 0 360px;
  width: 108px;
  margin-left: auto;
  border-right: 0;
  background: #edd6ff6e;
}
.desktop .ct-section-image-icon-placeholder {
  border-radius: 360px;
  margin: auto;
}
.ct-section-image-icon-placeholder svg {
  margin: auto;
}
.desktop .section-3-background-wrapper {
  grid-column-start: 2;
  z-index: 2;
  grid-row-start: 1;
}

.phone .section-3-background-wrapper {
  grid-column-start: 1;
  z-index: 2;
  grid-row-start: 1;
  grid-column-end: 3;
  transform: scale(1.1);
}
.desktop .section-3-background {
  border-radius: 100% 0 0 100%;
  background-position: right;
  transform: scale(1.1);
  min-width: 600px;
}
.section-3-background {
  background-image: url("./assets/images/section3_bg_72_72.png");
  grid-row-start: 1;
  grid-row-end: 2;
  z-index: 1;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover ;
  width: 100%;
  opacity: 0.1;
}
.desktop .section3{

}
.section3 {
  display: grid;
  background-color: #004C6C;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  z-index: 2;
  overflow: hidden;
}
.desktop .section-3-left-col,
.desktop .section-3-right-col {
  flex: 1;
}

.desktop .section-3-mid-col {
  flex: 3;
}
.phone .section-3-mid-col {
  padding-right: var(--space-s);
  padding-left: var(--space-s);
}

.section3 .heading1 {
  color: var(--color-section-link3);
  font-size: var(--font-size-h3);
}
.ct_content_3 {
  margin-top: var(--space-m);
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 3;
  grid-row-start: 1;
}
.section-3-content {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  color: var(--color-neutral-0);
}
.desktop:not(.small) .section-5-left-col {
  flex: 1;
}
.small .section-5-left-col {
  flex: 2;
}
.section-5-right-col {
  flex: 2;
}
.bg-color-neutral-2{
  background-color: var(--color-neutral-2);
}
.ct-line {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.08);
}
  /* layout */
.desktop .header_left_col {
  flex: 10;
}
.phone .header_left_col {
  flex: auto;
}
 .header_right_col {
  flex: 10;
}
.header_content_left_col {
  transition: all, 0.3s;
}
.phone .header-flex-container {
  flex-wrap: wrap;
}
 .desktop .header_content_left_col {
   flex: 34;
   min-width: 50px;
 }
.phone .header_content_left_col {
  flex: 0;
}
 .header_content_right_col{
   flex: 50;
 }
.ct_layout_wrapper .ct_content {

}
.phone .ct_layout_wrapper .header_content {
  padding-left: var(--space-s);
  padding-right: var(--space-s);
}
.ct_layout_wrapper .content_header_title {
  padding-left: 0;
  padding-top: var(--space-s);
}

.phone .ct_layout_wrapper .header_content_header svg{
  height: var(--space-l);
}
.ct_layout_wrapper .header_description {
  padding-top: 32px;
  padding-left: 0;
}
.ct_layout_wrapper .header_actions{
  padding-left: 0;
  padding-top: 32px;
}
.desktop .ct_layout_header {
  background-image: url("./assets/images/bg_1920_920.png");
}
.phone .ct_layout_header {
  background-image: url("./assets/images/bg_72_72.png");
}
.desktop .ct_layout_header {
  height: 920px;
}
.phone .ct_layout_header {
  height: 770px;
}
.phone .ct_layout_header .menu-arrow-down {
  align-self: center;
}
.ct_layout_header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
.ct_layout_header .bg{
  transition: all, 0.5s;
}
.desktop .ct_layout_header .bg{
  background: transparent;
}
.phone .ct_layout_header .bg {
  background: linear-gradient(180deg, rgba(37, 22, 0, 0) 0%, #251600 100%);
}
.phone .header_content_header {
   padding: var(--space-m);
  background-color: var(--color-neutral-10-transparent);
}
.desktop .header_content_header {
  margin-top: var(--space-xl);
}
/* CTInput */
.ct-input textarea,
.ct-input input{
  padding: 16px 24px;
  border-radius: 24px;
  border: 1px solid var(--color-neutral-1);
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  line-height: 22px;
}

.ct-input textarea {
  height: 160px;
}
.ct-input .div-pointer {
  height: 54px;
  width: 60px;
  position: relative;
  margin-left: calc(100% - 60px);
  /* top: -55px; */
  background-color: rgba(0,0,0,.0901960784);
  border-radius: 0 24px 24px 0;
  cursor: pointer;
  box-sizing: border-box;
  margin-top: -55px;
}

.ct-input.combo .div-pointer {
  background-image: url("./assets/icons/chevron_down.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 24px) center;
}
.div-pointer.rotate {
  transform: rotateX(180deg);
}

.ct-input.combo input {
  padding-right: 60px;
  background-repeat: no-repeat;
  background-position: calc(100% - 24px) center;
}
.ct-input:not(.ct-input-bold) textarea,
.ct-input:not(.ct-input-bold) input{
  color: var(--color-neutral-7);
}
.ct-input.ct-input-bold textarea,
.ct-input.ct-input-bold input{
  font-weight: 700;
}

.ct-input textarea.active,
.ct-input input.active{
  border: solid 1px var(--main-color);
}
.ct-input.ct-active .hint {
  color: var(--main-color);
}
.ct-input .hint{
  margin-top: -23px;
  font-size: 13px;
  font-weight: 600;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  top: 11px;
  left: 21px;
  background: #fff;
  display: inline-block;
  padding: 0px 10px 0 3px;
  color: var(--color-neutral-10);
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, white 50%, white 100%);
}
/* button group */
.ct-button-group {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  border: solid 1px var(--color-neutral-1);
  background-color: var(--color-neutral-0);
  padding: 4px;
  border-radius: 24px;
}

.ct-button-group-item.selected {
  border: solid 2px var(--main-color);
  color: var(--main-color);
}
.ct-button-group-item {
  padding: calc(var(--space-xs) - 4px);
  flex: 1;
  font-weight: 700;
  font-size: 16px;
  border-radius: 24px;
  cursor: pointer;
  transition: all, 0.3s;
  border: solid 2px transparent;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}
.ct-button-group-item:not(.selected):hover {
  background-color: var(--color-neutral-2);
  border: solid 2px var(--color-neutral-1);
}
.ct-button-group-item.selected:hover {
  background-color: #ff990021;
}
/* select */
 .options{
   background-color: var(--color-neutral-0);
   border: solid 1px var(--color-neutral-1);
   border-radius: 4px;
   box-shadow: 0px 0px 4px var(--color-neutral-1);
   margin-top: 10px;
   max-height: 300px;
   overflow: hidden;
   overflow-y: auto;
   z-index: 100;
   position: relative;;
}

.phone .options .option{
  width: calc(100vw - var(--space-l)*2);
}
.options .option {
  padding: 8px;
  cursor: pointer;
}
.ct-input.combo .options .option:hover{
  background: var(--color-neutral-1);
}
/* common styles */
.display-inline-block {
  display: inline-block;
}
.display-flex {
  display: flex;
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}

.small .small-flex-direction-column,
.phone .phone-flex-direction-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-center{
  align-items: center;
}
.flex1 {flex: 1}
.flex2 {flex: 2}
.flex3 {flex: 3}
.flex4 {flex: 4}
.flex5 {flex: 5}
.flex6 {flex: 6}
.flex7 {flex: 7}
.flex8 {flex: 8}
.flex9 {flex: 9}
.flex10 {flex: 10}
.flex11 {flex: 11}
.flex12 {flex: 12}

.full-height {height: 100%}
.full-width {width: 100%}

.desktop .heading1 {
  font-size: var(--font-size-h1);
}
.phone .heading1 {
  font-size: var(--font-size-h2);
}
.desktop .heading2 {
  font-size: var(--font-size-m);
}
.phone .heading2 {
  font-size: var(--font-size-m);
}


.heading1 {
  font-family: "Merriweather",serif;
  color: var(--color-neutral-0);
  line-height: 106%;
  transition: all, 0.4s;
  font-weight: 700;
}
.heading2 {
  font-family: "Merriweather",serif;
  line-height: 106%;
  transition: all, 0.4s;
  font-weight: 700;
}
.font-size-base {
  font-size: var(--font-size-base);
}

.text-color-0 {
  color: var(--color-neutral-0);
}

.padding-base {
  padding: var(--space-m)
}

.margin-top-l {
  margin-top: var(--space-l);
}
.margin-top-sl {
  margin-top: var(--space-sl);
}
.margin-top-xl {
  margin-top: var(--space-xl);
}
.margin-top-m {
  margin-top: var(--space-m);
}
.margin-top-s {
  margin-top: var(--space-s);
}
.margin-bottom-m {
  margin-bottom: var(--space-m);
}
.padding-top-base {
  padding-top: var(--space-m);
}
.padding-bottom-base {
  padding-bottom: var(--space-m);
}
.gap-s{
  gap: var(--space-s);
}

.gap-m{
  gap: var(--space-m);
}
.gap-xl{
  gap: var(--space-xl);
}
.gap-sl{
  gap: var(--space-sl);
}
.phone .phone-full-width {
  width: 100%;
}

.phone .phone-margin-top-base{
  margin-top: var(--space-m);
}
.desktop .desktop-margin-top-base{
  margin-top: var(--space-m);
}

.small .small-full-width-vw
.phone .phone-full-width-vw {
  width: 100vw;
}
.text-align-center {
  text-align: center;
}
.color-main {
  color: var(--main-color);
  fill: var(--main-color);
}
.ct-btn svg,
.ct-btn svg path {
  fill: inherit;
}
.no-wrap {
  white-space: nowrap;
}